body {
    background-color: #f2f2f2;
}

.logo {
    font-weight: bold;
}

.fullscreen {
    height: 100vh;
}

.vc {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -60%);
    transform: translate(-50%, -60%);
}

.fw {
    width: 50vh;
}

.fsb {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}